<div class="sidebar">
  <a href="home">Home</a>
  <a href="hallavailability">Hall Availability</a>
  <a href="hallbooking">Hall Booking</a>
  <a href="hallcancellation">Hall Cancellation</a>
  <a href="hallbookingdetails">Hall Booking Details</a>
  <a href="paymentdetails">Payment Details</a>
  <a href="customerdetails">Customer Details</a>
  <a href="logout">Logout</a>
</div>